.btn-margin-right {
    margin-right: 20px;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.featured_image {
    width: 100%;
}